@{
    ViewBag.Title = "Contact";
}
<h2> Contact Us!.</h2>



<p>
    313 N Plankinton Ave #209<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    (414) 533-0639
</p>

<p>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</p>