@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Home.css?parameter=1" type="text/css" media="screen" />
</head>
<body>
    <div>
        <h1> Life is Busy. Plan Accordingly.</h1>
    </div>
    </body>
</html>
 