@model IEnumerable<MVCMusicStoreApplication.Models.Album>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>
    @Html.ActionLink("Add To Cart", "Add Cart")

    <a href="/ShoppingCart/AddToCart/id">Add To Cart</a>
    </p>

